@import "src/resources/screen_sizes.module";

$drawerContentMargin: 40px;

.drawerContentBox {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: $drawerContentMargin;

  @media only screen and (min-width: $small) {
    margin-left: 260px + $drawerContentMargin;
  }
}
