@import "src/resources/colours.module";
@import "src/resources/screen_sizes.module";

.drawerContent {
  display: flex;
  background: $darkBlue;
  height: 100%;
  flex-direction: column;
}

.menuItem {
  &:hover > *  > * > * {
      color: $green;
  }
  &:hover {
    border-left: 2px solid $green;
  }
}

.imageIconMenu {
  align-self: center;
  filter: brightness(0) invert(1);
  margin-top: 5vh;
  margin-bottom: 14vh;
  width: 170px;
}

.menuItemText{
  color: $off-white;
}

.listItemIcon {
  & > * {
    color: $off-white;
  }
  padding-left: 15px;
}
