@import "src/resources/colours.module";
@import "src/resources/screen_sizes.module";

.SearchPage {
  //padding: 40px 10px
};

.content {
  position: relative;
  @media only screen and (max-width: $medium) {
    align-items: center;
  }
}

.backgroundImage {
  opacity: 0.45;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gridText {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $darkBlue
}

.imageIcon {
  height: 10vh;
  width: 20vh;
  @media only screen and (min-width: $medium) {
    padding-left: 50px;
  }
}

.postcodeSearch {
  background-color: white;
  border-radius: 30px;
  fieldset {
    border-color: transparent;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }
}

.searchIcon {
  color: $darkBlue
}
