@import "src/resources/screen_sizes.module";

.infoBoxesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  column-gap: 20px;

  @media only screen and (max-width: $medium) {
    //justify-content: center;
    column-gap: 10px;
  }
}
