@import "src/resources/colours.module";
@import "src/resources/screen_sizes.module";

.genOverviewBoxContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 200px;
  background-color: $blue;
  padding: 20px;
  margin-top: 10px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

  &.green {
    background-color: $darkGreen;
  }
}

.valueIcon {
  color: $off-white;
  padding-bottom: 20px;
}

.valueDescription {
  color: $off-white;
}
