@import "src/resources/colours.module";

.genOverviewBoxContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 200px;
  background-color: $blue;
  padding: 20px;
  margin-top: 10px;
  border-radius: 20px;

  &.green {
    background-color: $darkGreen;
  }
}

.valueIcon {
  color: $off-white;
  padding-bottom: 20px;
}

.valueDescription {
  color: $off-white;
}
