@import "src/resources/screen_sizes.module";

.GenerationOverviewContainer {
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: $medium) {
    padding-left: 20px;
  }

  @media only screen and (max-width: $medium) {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 20px;
  }

  @media only screen and (max-width: $small) {
    align-items: center;
  }
}
