@import "src/resources/colours.module";
@import "src/resources/screen_sizes.module";

.graph {
  width: 500px;
  height: 500px;
}

.graphWrapper {
  width: 650px;
  padding: 20px 5px 5px;
  border-radius: 10px;
  border: solid $green;
}
