@import "src/resources/colours.module";
@import "src/resources/screen_sizes.module";
@import "src/resources/shadows.module";

$threeColumnsBreakpoint: 1300px;
$twoColumnsBreakpoint: 1100px;

.infoBoxContainer {
  border-color: $darkGreen;
  box-shadow: $lightShadow;
  padding: 5px 10px 5px 10px;

  border-width: 1px;
  border-style: solid;
  border-radius: 15px;

  width: 20%;

  @media only screen and (max-width: $threeColumnsBreakpoint) {
    width: 27%;
  }

  @media only screen and (max-width: $twoColumnsBreakpoint) {
    padding: 10px;
    width: 40%;
  }

  &:hover {
    border-color: $green;
  }
}

.firstLine {
  font-size: 16px !important;

  @media only screen and (max-width: $small) {
    font-size: 12px !important;
  }
}

.secondLine {
  color: $darkGreen;
  font-weight: bold !important;
  font-size: 18px !important;

  @media only screen and (max-width: $small) {
    font-size: 13px !important;
  }
}
